<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Distancia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <h3>Latitud {{lat}}</h3>
  <h3>Longitud {{lng}}</h3> -->

</ion-content>
